# Introduction

In this practice project, I will apply my skills in data extraction and processing by working with APIs and web scraping to gather and process GDP data.

Using tools like web scraping, the Requests API, and libraries such as Pandas and NumPy, I will extract the necessary GDP information -sourced from the International Monetary Fund (IMF)- and process it to display each country's GDP in billions of USD.

# Code

In [1]:
# setup
#Install required packages
!pip install pandas numpy 
!pip install lxml

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy
  Downloading numpy-2.1.2-cp313-cp313-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\i42718\appdata\local\anaconda3\envs\agata_python\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\i42718\appdata\local\anaconda3\envs\agata_python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------  11.3/11.5 MB 99.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 40.0 MB/s eta 0:00:00
Downloading numpy-2.1.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 12.6/12.6 MB 68.8 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Collecting lxml
  Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp313-cp313-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 3.8/3.8 MB 44.9 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

In [23]:
#importing required libraries
import numpy as np
import pandas as pd

In [30]:
# extracting data
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
tables = pd.read_html(URL)

# choosing table as dataframe
df = tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 20, indicating the top 10 economies of the world.
df = df.iloc[1:21,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235
11          Russia           2062649
12     South Korea           1721909
13       Australia           1707548
14          Mexico           1663164
15           Spain           1492432
16       Indonesia           1391778
17     Netherlands           1080880
18    Saudi Arabia           1061902
19          Turkey           1029303
20     Switzerland            869601

In [31]:
# Change the data type of the 'GDP (Million USD)' column to integer.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Change from million USD to billion USD
df[['GDP (Million USD)']]=df[['GDP (Million USD)']]/1000

# Change column names
df.columns = ['Country','GDP (Billion USD)']

# Rounding to 2 decimal places
df[['GDP (Billion USD)']] = np.round(df[['GDP (Billion USD)']],2)
df

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24
11          Russia            2062.65
12     South Korea            1721.91
13       Australia            1707.55
14          Mexico            1663.16
15           Spain            1492.43
16       Indonesia            1391.78
17     Netherlands            1080.88
18    Saudi Arabia            1061.90
19          Turkey            1029.30
20     Switzerland             869.60

In [32]:
# loading to csv
df.to_csv('./Largest_economies.csv')